body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 400px;
    width: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}