*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

nav{
    height: 15vh;
    width: 100vw;
    background-color: white;
    z-index: 20000;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > .logo{
    display: flex;
    /* border: 1px solid green; */
    width: 30%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
}

nav > #navigation > a{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    color: black;
    justify-content: space-between;
    /* height: 75%; */
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 13px;
}

nav > #navigation{
    display: flex;
    width: 70%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

nav > .logo > i{
    color: black;
    font-size: 20px;
    display: none;
}


#mobileNavigation{
    height: 0vh;
    width: 50% !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 50px;
    z-index: 2000000;

}

#mobileNavigation > a{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    color: black;
    justify-content: space-between;
    /* height: 75%; */
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 13px;
}


@media screen and (max-width: 800px){

    nav{
        height: 0vh !important;
        width: 100vw;
        background-color: white;
        z-index: 20000;
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    nav > #navigation{
        display: none;
    }

    .wrapper{
        padding: 0px;
    }

   nav > .logo{
        width: 100%;
        height: 10vh;
        background-color: white;
        z-index: 20000;
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    nav > .logo > .fa-bars{
        display: block;
    }

    nav > .logo > .fa-times{
        display: none;
    }

    section{
        height: calc(100vh - 0vh) !important;
        width: inherit;
        margin-top: auto;
    
    }

    main{
        height: 70% !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./imgs/img19.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #control{
        width: 100% !important;
        height: 30% !important;
        bottom: 0px;
    }
}

i{
    padding: 20px;
}

nav > .logo > h1{
    padding: 30px;
    font-family: cursive;
    font-size: 25px;
}
#outerCont{
    width: 75%;
    height: max-content;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);

}

#qouteContainer{
    width: 60%;
    height: max-content;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px 55px 35px 55px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    /* border-left: 6px solid pink; */
    /* box-shadow: 3px 7px #b4b3b3; */
}

#quote{
    color: white;
}

#author{
    color: white;
    font-size: 15px;
    padding: 10px;
}

section{
    height: calc(100vh - 15vh);
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;

}

main{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/img19.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#control{
    width: 50%;
    height: 100%;
    bottom: 0px;
}


#mainControl{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mainControl > i{
    font-size: 25px;
}

#moreControl{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#action{
    display: flex;
    align-items: center;
}

#download{
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#moreControl > i{
    font-size: 25px;
}

i:hover{
    cursor: pointer;
}

